$h-height:130px;
$color:#ffb81c;
$cursor:pointer;

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: #000;
}

//头部
.wrapper {
    width: 1200px;
    margin: 0 auto 0;

    height: 130px;

    .h-inner {
        display: flex;
        justify-content: space-between;


        div {
            height: $h-height;
            display: flex;
            align-items: center;

            ul {
                display: flex;
            }
        }
    }

}

.h-inner .h-left,
.h-inner .h-right {
    font-size: 12px;

}

.h-inner .h-left li {
    box-sizing: border-box;
    width: 85px;
    height: 31px;
    //    padding-left: 25px;
    //    padding-right: 20px;
    line-height: 31px;
    text-align: center;

}

.h-inner .h-left li:nth-of-type(1) {
    cursor: pointer;
    border-right: 1px solid #ccc;
    position: relative;

    &:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border: 5px solid transparent;
        border-top: 5px solid #000;

        position: absolute;
        top: 50%;
        right: 15px;

    }

}

.h-inner .h-left dl {
    position: absolute;
    width: 100%;
    height: 52px;
    border: 1px solid black;
    background: white;
    right: 0;
    top: 20px;
    display: none;

    dd {
        margin-left: 0px;
        text-align: center;
        line-height: 25px;

    }
}

.h-inner .h-center {
    cursor: pointer;
}

.h-inner .h-right {

    li {
        height: 28px;
        line-height: 28px;
        text-align: center;
        cursor: pointer;
    }

}

.h-inner .h-right li:nth-of-type(1) {
    margin-right: 17px;
    position: relative;
}

.h-inner .h-right li:nth-of-type(2) {
    width: 63px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;


}

.h-inner .h-right li:nth-of-type(3) {
    width: 47px;

}

.h-inner .h-left ul:hover li:nth-of-type(1) span {
    color: $color;
}

.h-inner .h-left ul:hover li:nth-of-type(1)::after {
    border-top: 5px solid $color;
}


//nav部分
.h-nav {
    width: 100%;
    height: 50px;
    background: #000;
    color: $color;
    font-size: 14px;
    margin-bottom: 20px;

    // cursor: $cursor;
    a {
        color: $color;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        height: 50px;


        ol {
            display: flex;
            width: 890px;
            margin: 0px 0px -40px;


            li {
                width: 77px;
                height: 50px;
                line-height: 50px;
                cursor: $cursor;
            }
        }



        .search {
            display: flex;
            line-height: 50px;
        }
    }
}


// 主体区域
main {
    width: 100%;
    background: rgb(226, 223, 223);
    // opacity: 0.1;

    section {
        width: 1200px;
        margin: auto;

        .smallNav {
            display: flex;
            justify-content: space-between;
            padding: 15px 0px;
            font-size: 12px;
            color: black;

            // opacity: 1;
            a {
                display: inline-block;
                margin: 0 10px;
            }

            a:nth-of-type(1) {
                margin-left: 0;
            }

            span {
                margin-top: 10px;
            }



        }
    }
}

.contents {
    display: flex;
    padding: 40px 50px 12px 40px;
    border: 1px solid black;
    background: white;

    //四张小图片
    .c-left {
        margin-right: 25px;
        // position: relative;

        .left-pic {
            width: 481px;
            height: 400px;
            display: flex;
        }

        .four-pic {


            #imgshow {
                width: 81px;
                height: 400px;
                // background: gold;
                margin-top: 0px;
                padding-left: 0;
                background: white;
                border: 1px solid grey;
                box-sizing: border-box;



                li {
                    width: 100%;
                    height: 20%;
                    position: relative;

                    .biankuang {
                        background-position: -141px -238px;
                        width: 80px;
                        height: 80px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-image: url(http://pic16.secooimg.com/home/detail/detail_icon6.png);
                        background-repeat: no-repeat;
                    }


                    img {
                        display: block;
                        width: 100%;

                    }
                }



            }
        }

        .small-pic {
            width: 400px;
            height: 400px;
            // background: pink;
            position: relative;


            .s-pic {
                width: 400px;
                height: 400px;
                box-sizing: border-box;
                border: 1px solid grey;
                border-left: none;
            }

            .x-fang {
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
                // width: 100px;
                // height: 100px;
                background: rgba(205, 226, 109, 0.2);
            }

            .bigpic {
                position: absolute;
                width: 450px;
                height: 450px;
                background: pink;
                top: 0px;
                left: 425px;
                box-sizing: border-box;
                border: 1px solid grey;
                overflow: hidden;
                visibility: hidden;
                z-index: 999;


                img {
                    width: 600px;
                    height: 600px;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                }


            }


        }


        .yhqy {
            width: 481px;
            height: 38px;
            // background: lime;

            dl {
                display: flex;
                justify-content: space-between;
                padding: 0px 10px;
                // border: 1px solid red;
                // box-sizing: border-box;

                dd {
                    margin-left: 0px;
                    line-height: 38px;
                    // padding-left: 10px;

                    a {
                        font-size: 12px;
                    }

                    em {
                        display: inline-block;
                        margin-right: 10px;
                        width: 18px;
                        height: 18px;
                        vertical-align: middle;
                        background-image: url(http://pic16.secooimg.com/home/detail/detail_icon6.png);
                        background-repeat: no-repeat;
                        background-position: 0 -160px;


                    }

                }
            }

            #five-two {
                background-position: 0 -201px;
            }

            #five-three {
                background-position: 0 -242px;
            }

            #five-four {
                background-position: 0 -283px;
            }

            #five-five {
                background-position: 0 -324px;
            }
        }
    }

    // .yhqy em {
    //     &:nth-of-type(2) {
    //         background-position: 0 -201px;
    //     }
    // }



    //右边区域
    .c-right {
        flex: 1;
        text-indent: 15px;

        .proName {



            font: normal 16px/24px "microsoft yahei";
            border-bottom: 1px dashed red;
            padding-bottom: 25px;
        }

        .proDetails {
            padding-bottom: 25px;
            border-bottom: 1px dashed red;

            .yikoujia {
                color: red;

                span {
                    margin-right: 15px;
                }

                b {
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }

        .proList_box {
            padding-top: 25px;

            .xzys {
                display: flex;
                margin-bottom: 25px;

                span {
                    padding-top: 10px;
                }

                .c-color {
                    margin: 0 0 0 25px;
                    width: 30px;
                    height: 30px;
                    background: blue;


                }
            }
        }

        .xcm {
            display: flex;
            // padding-top: 10px;

            span {
                margin-right: 25px;

            }

            dl {
                // display: flex;
                margin: 0;
                // justify-content: space-around;

                dd {
                    float: left;
                    // width: 20px;
                    margin: 0 5px 0;
                    font-size: 12px;
                    height: 25px;
                    line-height: 25px;
                    border: 1px solid grey;
                    text-indent: 0 !important;
                }
            }
        }

        .buynum {
            display: flex;
            padding-top: 25px;

            span {
                margin-right: 25px;
            }

            input {
                float: left;
                width: 30px;
                height: 20px;
                border: 1px solid grey;
                padding: 0 2px;
                border-left: 0px solid #000;
                border-right: 0px solid #000;
            }

            p {
                margin-top: 0px;
            }

            button {
                float: left;
                font-style: normal;
                width: 20px;
                height: 22px;
                border: 1px solid grey;
                text-indent: 0;
                text-align: center;

            }

        }
    }
}

.c-right .prompt {
    display: flex;
    position: relative;
    .tanchukuang{
        width: 400px;
        height: 250px;
        background: rgb(245, 239, 240);
        position: absolute;
        left: -120px;
        top: -120px;
        display: none;
        .tjc_title{
            display: flex;
            justify-content: space-between;
            height: 50px;
            line-height: 50px;
            background: rgb(111, 111, 230);
            padding-right: 10px;

            p{
                margin: 0;
                font-size: 14px;
                color: white;
            }
            a{
                font-size: 26px;
                // font-weight: bolder;
                color:  white;
                // margin-right: 10px;
                cursor: pointer;
            }
        }
        .tjcg{
            text-align: center;
            margin-top: 40px;
            color: rgb(111, 111, 230);
        }
        .js_Or_gw{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            a{
                padding: 5px  15px 5px 0px;
                background: red;
                color: white;
                margin-right: 10px;
                font-size: 13px;
                // text-align: center;
                // box-sizing: border-box;
            }
            .jxgw{
                background: rgb(212, 206, 206);
                color: black;
            }
        }
    }

    .wxsm {
        color: #fb890d;
        font-size: 17px;
        font-weight: bold;
    }

    .weipic {
        width: 200px;
        height: 200px;
        background: pink;
    }

    .buyorcar {
        display: flex;
        


        

        a {
            width: 160px;
            height: 45px;
            text-align: center;
            line-height: 45px;
            border: 1px solid grey;
            margin-left: 20px;
            font-size: 18px;
            color: white;
            text-indent: 0;
        }

        .tobuy {
            background: red;
            border-color: red;
            cursor: pointer;
        }

        .tocar {
            background: white;
            color: red;
            border-color: red;
            cursor: pointer;
            

            
        }
        
    }

    .fenqi {
        display: flex;
        padding-left: 50px;
        margin-top: 30px;
        font-size: 12px;

        span {
            width: 20px;
            height: 20px;
            background: gold
        }
    }
}
.tisikuang{
    width: 400px;
    height: 200px;
    background: rgb(161, 158, 158);
    color: red;
    line-height: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 150px;
    top: -300px;
    visibility: hidden;


}




//尾部
footer {
    width: 100%;
    background: $color;

    section {
        width: 1200px;
        margin: auto;
        padding-top: 60px;

        .secoo-server {
            display: flex;

            .server-one {
                p {
                    font-size: 16px;
                }

                dl {
                    display: flex;
                    width: 325px;
                    flex-wrap: wrap;
                    font-size: 14px;

                    dd {
                        cursor: $cursor;
                        width: 140px;
                        margin-left: 0;
                        padding-bottom: 20px;
                    }
                }
            }

            .server-two {
                width: 550px;
                text-align: center;
                font-size: 16px;

                .lianXi {
                    font-size: 14px;
                    position: relative;
                    width: 550px;
                    height: 240px;
                    margin-top: 50px;
                    background: url(//mpic.secooimg.com/images/2018/11/07/footer-logo.png) no-repeat 100%;
                }
            }
        }
    }
}

.secoo-server .server-two span {
    position: absolute;
    left: 120px;
    top: 50%;
    transform: translateY(-50%);
    cursor: $cursor;
}

.secoo-server .server-two span:nth-child(2) {

    right: -190px
}

.secoo-server .server-two span:nth-child(3) {

    right: -140px
}

.secoo-server .server-two span:nth-child(4) {

    left: 100px
}

//微博和微信的二维码
.secoo-server .server-two .lianXi div img {
    width: 120px;
}

.secoo-server .server-two .lianXi div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}

.secoo-server .server-two .lianXi div:nth-of-type(2) {
    left: 270px;
}

.secoo-server .server-three {
    width: 100%;
    box-sizing: border-box;
    padding-left: 207px;
    cursor: $cursor;

    p {
        margin-bottom: 26px;
        font-size: 16px;
    }

    dd {
        margin-left: 0;
        font-size: 14px;
        height: 33px;
    }
}


//最底下部分
.f-buttom {
    font-size: 14px;
}

.f-buttom p:nth-of-type(1) img {
    vertical-align: middle;
}

.f-buttom p:nth-of-type(1) span {
    margin-right: 30px;
}

.f-buttom p:nth-of-type(2) {
    margin: 20px 0px;

    span {
        margin-right: 30px;
    }
}


.f-buttom p:nth-of-type(3) img {
    width: 108px;
    height: 40px;
    margin-right: 30px;
}

.f-buttom p:nth-of-type(4) {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 40px;

    img {
        vertical-align: middle;
    }

    a {
        color: #939393;
        font-size: 12px;
    }
}